[Unit]
Description=mywebapp (Task Tracker)
Requires=mywebapp.socket
After=network.target mariadb.service mywebapp.socket
Requires=mariadb.service

[Service]
Type=simple
User=app
Group=app
EnvironmentFile=/etc/mywebapp/mywebapp.env
ExecStartPre=/usr/bin/python3 /opt/mywebapp/migrate.py --db-host=${DB_HOST} --db-port=${DB_PORT} --db-user=${DB_USER} --db-password=${DB_PASSWORD} --db-name=${DB_NAME}
ExecStart=/usr/bin/python3 /opt/mywebapp/main.py --db-host=${DB_HOST} --db-port=${DB_PORT} --db-user=${DB_USER} --db-password=${DB_PASSWORD} --db-name=${DB_NAME}
Restart=on-failure
